:root {
  --orangeK: #c6673b;
  --jsp: #cca079;
  --rouge: #a9324e;
}
.card-about{
    background-color: var(--orangeK);
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:2px 2px 2px black;
    padding: 1rem;
    
    div{
        padding: 2rem;
        
    }
    
    img{
        
        width: clamp(20rem,calc(30vw + 2rem),35rem);
        border: 2px whitesmoke solid;
        border-radius: 10px;
        box-shadow:2px 2px 2px black;
    }

    h1{
        font-size: clamp(1rem,calc(0.5vw + 0.7em),4rem);
        color: whitesmoke;
        text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    font-weight: 900;
        margin-bottom: 1rem;
    }
    p{  
        
        color: whitesmoke;
        font-weight: 400;
        font-size: clamp(0.8rem,calc(0.1vw + 0.9em),5rem);
        text-shadow: 1px 1px 1px black;
        max-width: 90ch;
    }
}

.about-under{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 5rem;
    gap:4rem;
    article{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

   
    h2{
        margin: 2rem;
        color: var(--orangeK);
        font-size: clamp(1rem,calc(0.5vw + 0.7em),4rem);
        text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    
    }
    p{  
        line-height: 1.7rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-weight: 450;
        font-size: clamp(0.8rem,calc(0.1vw + 1.2em),5rem);
        
        max-width: 90ch;  
    }
  
   
    }

.tuvasou{
    margin:10rem 0;
}

ul {
    display: flex;
    gap: 2rem;
    flex-flow: column nowrap;

}