@media screen  and (max-width:350px){
  html{
    font-size: 9px;
  }
    .fixerp1{
    font-size: 1rem  !important;
  }
  .main-contact {
  margin-top: 5rem;
  background-color: beige;
  width: 34rem !important ;
  }
  h1{
    font-size: 2.4rem;
  }

 .panier1{
    width: 100%;
    height: 65rem;
}
.grande_panier {
    width: 34rem;
    height: 30rem;
}
}