:root {
  --orangeK: #c6673b;
  --jsp: #cca079;
  --rouge: #a9324e;
}
.panier1 {
  box-shadow: 2px 2px 10px black;
}
body {
  background-color: papayawhip;
}
h1 {
  top: 0;
  align-items: center;
  position: absolute;
  margin-top: 5rem;
  color: var(--orangeK);
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: var(--orangeK);
  font-size: clamp(4em, calc(2.4vw + 0.1em), 7em);
}
main {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-around;
}
.panier1,
.panier2 {
  margin-left: 0;
  margin-top: 15rem;
  background-color: whitesmoke;
  width: max-content;
}
.grande_panier {
  display: flex;
  margin: 1rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  box-shadow: 2px 2px 10px black;
  width: clamp(20rem, calc(50vw + 5rem), 70rem);
  height: clamp(20rem, calc(10vw + 5rem), 70rem);

  i {
    padding: 1rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.text_panier {
  width: 40rem;

  h2 {
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
      1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    color: orange;
    font-size: clamp(1.5em, calc(1vw + 0.1em), 7em);
  }
  p {
    margin-top: 10px;
    font-size: clamp(1.5em, calc(1.1vw + 0.1em), 10em);
    color: orange;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
      1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
.supprime {
  opacity: 0;
  position: absolute;
  font-size: clamp(1.3em, calc(2vw + 0.1em), 10em);
  color: orange;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  font-weight: 600;
}

#poubelle1:checked ~ .image_panier {
  animation: disappear 0s linear forwards;
}
#poubelle1:checked ~ .text_panier {
  animation: disappear 0s linear forwards;
}

#poubelle1:checked ~ label {
  animation: disappear 0s linear forwards;
}
#poubelle1:checked ~ .supprime {
  animation: venir 0s linear forwards;
}
#poubelle2:checked ~ .image_panier {
  animation: disappear 0s linear forwards;
}
#poubelle2:checked ~ .text_panier {
  animation: disappear 0s linear forwards;
}

#poubelle2:checked ~ label {
  animation: disappear 0s linear forwards;
}
#poubelle2:checked ~ .supprime {
  animation: venir 0s linear forwards;
}

@keyframes disappear {
  0% {
  }
  100% {
    display: none;
  }
}
@keyframes venir {
  0% {
  }
  100% {
    opacity: 1;
  }
}
.image_panier {
  margin-right: 3rem;
}
.grande_panier img {
  width: clamp(10rem, calc(12vw + 1rem), 20rem);
  height: clamp(10rem, calc(12vw + 1rem), 20rem);
  object-fit: contain;
  box-shadow: 2px 2px 10px black;
}

.grande_panier label {
  z-index: 997;
  position: relative;
  padding: 0.2rem;
  width: max-content;
  height: max-content;
  order: 2;
  font-size: clamp(1.3rem, calc(1vw + 0.5rem), 10rem);
}

.label1:hover,
.label2:focus,
.label2:hover,
.label2:hover {
  cursor: pointer;
}

.panier2 {
  align-self: center;
  width: clamp(20rem, calc(20vw + 5rem), 50rem);
  height: clamp(20rem, calc(10vw + 5rem), 70rem);
  justify-content: center;
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  p {
    margin-top: 10px;
    font-size: clamp(1.6em, calc(1.2vw + 0.2em), 10em);
    color: orange;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
  }

  .total {
    font-size: clamp(2em, calc(1.8vw + 0.2em), 12em);
  }
  button {
    font-size: clamp(1.5em, calc(1.4vw + 0.1em), 4em);
    background-color: var(--orangeK);
    padding: clamp(0.3em, calc(1vw + 0.1em), 10em)
      clamp(0.7em, calc(1.4vw + 0.1em), 10em);
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  button:hover,
  button:focus {
    cursor: pointer;
  }
}

@media screen and (max-width: 1120px) {
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  .panier2 {
    width: clamp(20rem, calc(70vw + 5rem), 70rem);
    height: clamp(20rem, calc(10vw + 5rem), 70rem);
  }
  .panier1 {
    width: clamp(20rem, calc(70vw + 5rem), 70rem);
  }
  .grande_panier {
    width: clamp(20rem, calc(70vw + 3rem), 70rem);
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
  }
  .image_panier {
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.text_panier {
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 20px;
  }
}
