body{
    background-color: rgba(252, 226, 216, 0.991);
  
}
.secret{
    display: none;
}
.container-contact{
  display: flex;
  justify-content: center;

}
.main-contact{
    margin-top: 5rem;
    background-color: beige;
    width: clamp(20rem,calc(80vw + 1rem), 100rem);
    width: clamp(20rem,calc(80vw + 1rem), 100rem);
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 2px 2px 3px rgb(104, 29, 2);
    border-radius: 7px;
    padding: 3rem;
    justify-content: space-evenly;
}

.gauche-contact{
    padding-right: 2rem;
    color: azure;
    h1{
    padding-top: 2rem;
    padding-bottom: 20px;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: clamp(1.8em, calc(1vw + 1.2em), 5em);
    
    }

    a{
        text-decoration: none;
        color: rgb(74, 1, 101);
        font-size: clamp(1.5em, calc(0.2vw + 0.1em), 4em);
        padding-bottom: 20px;
        
    }

    p{
        padding-bottom: 20px;
        color: black;
        font-size: clamp(1.5em, calc(0.2vw + 0.1em), 4em);
        
    }


}
    .droite-contact  form{
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        
        width: 20rem;
        
        div{
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            
            
        }
    }
  
     .label-form{
            margin-right: 0;
            font-size: clamp(1.4em, calc(0.4vw + 1em), 2em);
            font-weight: 600;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        }

     .label-input{
            
            width: clamp(15rem, calc(14vw + 5rem), 20rem);
            padding: clamp(4px, calc(0.2vw + 0.5rem), 2rem);
            box-shadow: 2px 2px 2px black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 700;
            
        }

      textarea{
            
            width: clamp(15rem, calc(14vw + 5rem), 20rem);
            height: clamp(1rem, calc(20vw + 1rem), 14rem);
            box-shadow: 2px 2px 2px black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 700;
        }  

    .bouton-contact{
        width: clamp(15rem, calc(14vw + 5rem), 20rem);
        height:clamp(1.5rem, calc(2vw + 1.5rem), 5rem);
        background-color: orange;
        border-radius: 10px;
        box-shadow: 2px 2px 2px black;
        margin-top: 1rem;
        cursor: pointer;
    }

        @media screen and (max-width: 1120px) {
           
    .droite-contact  form{
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        
        width: 20rem;
        
        div{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
        }
    }
  
        }



@media screen and (max-width: 1120px) {
.disappear{
    display: none;
}
.secret{
    display: block;
}
.main-contact{
    
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    
}

.gauche-contact{
    padding-right: 0rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    }

    a{
        text-decoration: none;
        color: rgb(74, 1, 101);
        font-size: clamp(1.2em, calc(0.2vw + 0.1em), 4em);
        padding-bottom: 20px;
        
    }

    p{
        padding-bottom: 20px;
        color: black;
        font-size: clamp(1.2em, calc(0.2vw + 0.1em), 4em);
        
    }


}
    .droite-contact  form{
        display: flex;
        flex-flow: column nowrap;
        position: relative;
       
        width: clamp(5rem, calc(80vw + 5rem), rem);
        
        div{
            
            display: flex;
            flex-direction: column;
            
            
        }
    
    .bouton-contact{
        align-self: center;
    }
    }
  



